<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jax.seer2tools.dao.HideMoveInfoMapper">
  <resultMap id="BaseResultMap" type="com.jax.seer2tools.entity.HideMoveInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
  </resultMap>
  <insert id="insert" parameterType="com.jax.seer2tools.entity.HideMoveInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hide_move_info (id, tips)
    values (#{id,jdbcType=INTEGER}, #{tips,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, tips
    from hide_move_info
  </select>
  <resultMap id="BaseResultMap" type="model.HideMoveInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
  </resultMap>
  <insert id="insert" parameterType="model.HideMoveInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hide_move_info (id, tips)
    values (#{id,jdbcType=INTEGER}, #{tips,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, tips
    from hide_move_info
  </select>
</mapper>