<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jax.seer2tools.dao.MonsterMapper">
  <resultMap id="BaseResultMap" type="com.jax.seer2tools.entity.Monster">
    <id column="id" jdbcType="SMALLINT" property="id" />
    <result column="def_name" jdbcType="VARCHAR" property="defName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from monster
    where id = #{id,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.jax.seer2tools.entity.Monster">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Short">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into monster (id, def_name)
    values (#{id,jdbcType=SMALLINT}, #{defName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jax.seer2tools.entity.Monster">
    update monster
    set def_name = #{defName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=SMALLINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select id, def_name
    from monster
    where id = #{id,jdbcType=SMALLINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, def_name
    from monster
  </select>
</mapper>