<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jax.seer2tools.dao.PetDictionaryMapper">
	<resultMap id="BaseResultMap" type="com.jax.seer2tools.entity.PetDictionary">
		<id column="ID" jdbcType="SMALLINT" property="id" />
		<result column="Numbers_ID" jdbcType="SMALLINT" property="numbersId" />
		<result column="emblem_ID" jdbcType="INTEGER" property="emblemId" />
		<result column="Def_Name" jdbcType="VARCHAR" property="defName" />
		<result column="Type" jdbcType="VARCHAR" property="type" />
		<result column="Height" jdbcType="VARCHAR" property="height" />
		<result column="Weight" jdbcType="VARCHAR" property="weight" />
		<result column="Foundin" jdbcType="VARCHAR" property="foundin" />
		<result column="is_New" jdbcType="TINYINT" property="isNew" />
		<result column="Features" jdbcType="VARCHAR" property="features" />
		<result column="intro" jdbcType="VARCHAR" property="intro" />
		<result column="chara" jdbcType="VARCHAR" property="chara" />
		<result column="chara_Point" jdbcType="VARCHAR" property="charaPoint" />
		<result column="recommend_Quality" jdbcType="VARCHAR" property="recommendQuality" />
		<result column="recommend_Skill" jdbcType="VARCHAR" property="recommendSkill" />
		<result column="get_Way" jdbcType="VARCHAR" property="getWay" />
		<result column="is_Close" jdbcType="TINYINT" property="isClose" />
		<result column="change_Tip" jdbcType="VARCHAR" property="changeTip" />
		<result column="superModule" jdbcType="VARCHAR" property="supermodule" />
		<association property="emblem"
			javaType="com.jax.seer2tools.entity.EmblemInfo">
			<!-- id:关联查询用户的唯一标识 column:指定唯一标识用户信息的列 property:映射到user的那个属性 -->
			<id column="emblem_ID" property="id" />
			<result column="name" property="name" />
			<result column="Numbers_ID" property="numbersId" />
			<result column="Honor_Price" property="honorPrice" />
			<result column="Mi_Buy_ID" property="miBuyId" />
			<result column="Tip" property="tip" />
		</association>
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
		delete from pet_dictionary
		where ID = #{id,jdbcType=SMALLINT}
	</delete>
	<insert id="insert" parameterType="com.jax.seer2tools.entity.PetDictionary">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Short">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pet_dictionary (ID, Numbers_ID, emblem_ID,
		Def_Name, Type, Height,
		Weight, Foundin, is_New,
		Features, intro, chara,
		chara_Point, recommend_Quality, recommend_Skill,
		get_Way, is_Close, change_Tip,
		superModule)
		values (#{id,jdbcType=SMALLINT}, #{numbersId,jdbcType=SMALLINT},
		#{emblemId,jdbcType=INTEGER},
		#{defName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR},
		#{weight,jdbcType=VARCHAR}, #{foundin,jdbcType=VARCHAR},
		#{isNew,jdbcType=TINYINT},
		#{features,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{chara,jdbcType=VARCHAR},
		#{charaPoint,jdbcType=VARCHAR}, #{recommendQuality,jdbcType=VARCHAR},
		#{recommendSkill,jdbcType=VARCHAR},
		#{getWay,jdbcType=VARCHAR}, #{isClose,jdbcType=TINYINT}, #{changeTip,jdbcType=VARCHAR},
		#{supermodule,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.jax.seer2tools.entity.PetDictionary">
		update pet_dictionary
		set Numbers_ID = #{numbersId,jdbcType=SMALLINT},
		emblem_ID = #{emblemId,jdbcType=INTEGER},
		Def_Name = #{defName,jdbcType=VARCHAR},
		Type = #{type,jdbcType=VARCHAR},
		Height = #{height,jdbcType=VARCHAR},
		Weight = #{weight,jdbcType=VARCHAR},
		Foundin = #{foundin,jdbcType=VARCHAR},
		is_New = #{isNew,jdbcType=TINYINT},
		Features = #{features,jdbcType=VARCHAR},
		intro = #{intro,jdbcType=VARCHAR},
		chara = #{chara,jdbcType=VARCHAR},
		chara_Point = #{charaPoint,jdbcType=VARCHAR},
		recommend_Quality = #{recommendQuality,jdbcType=VARCHAR},
		recommend_Skill = #{recommendSkill,jdbcType=VARCHAR},
		get_Way = #{getWay,jdbcType=VARCHAR},
		is_Close = #{isClose,jdbcType=TINYINT},
		change_Tip = #{changeTip,jdbcType=VARCHAR},
		superModule = #{supermodule,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=SMALLINT}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Short"
		resultMap="BaseResultMap">
		select a.ID, a.Numbers_ID, b.name, b.tip,a.Def_Name, a.Type, a.Height, a.Weight, a.Foundin,
		a.is_New, a.Features, a.intro, a.chara, a.chara_Point,a.recommend_Quality, a.recommend_Skill,
		a.get_Way, a.is_Close, a.change_Tip
		from pet_dictionary as a,emblem_info as b
		where a.ID = #{id,jdbcType=SMALLINT} and a.emblem_ID = b.id
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select ID, Numbers_ID, emblem_ID, Def_Name, Type, Height, Weight, Foundin,
		is_New,
		Features, intro, chara, chara_Point, recommend_Quality, recommend_Skill,
		get_Way,
		is_Close, change_Tip, superModule
		from pet_dictionary
	</select>
	<select id="selectByLikeName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select ID, Numbers_ID, emblem_ID, Def_Name, Type, Height, Weight, Foundin,
		is_New,
		Features, intro, chara, chara_Point, recommend_Quality, recommend_Skill,
		get_Way,
		is_Close, change_Tip, superModule
		from pet_dictionary
		where Def_Name like '%${_parameter}%'
	</select>
	<select id="selectByLikeType" parameterType="java.lang.String" resultMap="BaseResultMap">
		select ID, Numbers_ID, emblem_ID, Def_Name, Type, Height, Weight, Foundin,
		is_New,
		Features, intro, chara, chara_Point, recommend_Quality, recommend_Skill,
		get_Way,
		is_Close, change_Tip, superModule
		from pet_dictionary
		where Type = #{_parameter,jdbcType=VARCHAR}
	</select>
	<select id="selectByLikeTypeAndName" parameterType="java.util.Map" resultMap="BaseResultMap">
		select ID, Numbers_ID, emblem_ID, Def_Name, Type, Height, Weight, Foundin,
		is_New,
		Features, intro, chara, chara_Point, recommend_Quality, recommend_Skill,
		get_Way,
		is_Close, change_Tip, superModule
		from pet_dictionary
		where Type = #{Type,jdbcType=VARCHAR} and Def_Name like '%${defName}%'
	</select>
</mapper>