<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jax.seer2tools.dao.SkillInfoMapper">
  <resultMap id="BaseResultMap" type="com.jax.seer2tools.entity.SkillInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category" jdbcType="TINYINT" property="category" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="power" jdbcType="INTEGER" property="power" />
    <result column="accuracy" jdbcType="SMALLINT" property="accuracy" />
    <result column="anger" jdbcType="TINYINT" property="anger" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
    <result column="chg_move_id" jdbcType="INTEGER" property="chgMoveId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from skill_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jax.seer2tools.entity.SkillInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into skill_info (id, name, category, 
      type, power, accuracy, 
      anger, tips, chg_move_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{category,jdbcType=TINYINT}, 
      #{type,jdbcType=TINYINT}, #{power,jdbcType=INTEGER}, #{accuracy,jdbcType=SMALLINT}, 
      #{anger,jdbcType=TINYINT}, #{tips,jdbcType=VARCHAR}, #{chgMoveId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jax.seer2tools.entity.SkillInfo">
    update skill_info
    set name = #{name,jdbcType=VARCHAR},
      category = #{category,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      power = #{power,jdbcType=INTEGER},
      accuracy = #{accuracy,jdbcType=SMALLINT},
      anger = #{anger,jdbcType=TINYINT},
      tips = #{tips,jdbcType=VARCHAR},
      chg_move_id = #{chgMoveId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, category, type, power, accuracy, anger, tips, chg_move_id
    from skill_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, category, type, power, accuracy, anger, tips, chg_move_id
    from skill_info
  </select>
</mapper>