<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jax.seer2tools.dao.SkillMonsterMapper">
  <resultMap id="BaseResultMap" type="com.jax.seer2tools.entity.SkillMonster">
    <result column="monster_id" jdbcType="SMALLINT" property="monsterId" />
    <result column="Learning_Lv" jdbcType="SMALLINT" property="learningLv" />
    <result column="skill_id" jdbcType="INTEGER" property="skillId" />
  </resultMap>
  <insert id="insert" parameterType="com.jax.seer2tools.entity.SkillMonster">
    insert into skill_monster (monster_id, Learning_Lv, skill_id
      )
    values (#{monsterId,jdbcType=SMALLINT}, #{learningLv,jdbcType=SMALLINT}, #{skillId,jdbcType=INTEGER}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select monster_id, Learning_Lv, skill_id
    from skill_monster
  </select>
</mapper>